:root {
    --primaryColor: #91ffcf;
    --secondaryColor: #03001c;
    --highlightColor: #080052;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 10px 30px;
    background-color: var(--secondaryColor);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 50px;
}

header .navbar-desktop{
    display: none;
}

header .navbar-desktop ul {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--highlightColor);
}

header .navbar-desktop ul li a {
    padding: 0 10px;
    color: var(--primaryColor);
}

header .navbar-mobile {
    padding: 10px 15px;
    background-color: var(--highlightColor);
    border-radius: 20px;
}

header .navbar-mobile i {
    color: var(--primaryColor);
}

section .section-title {
    margin: 10px 0;
    text-align: center;
    font-weight: 900;
    padding: 10px;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

section .section-content {
    padding: 10px;
}

#intro {
    width: 100%;
    margin-top: 72px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    background: url("../assets/bg-img.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro .banner {
    width: 100vw;
}

#intro .banner img {
    max-width: 100vw;
}

#intro .text-block {
    position: relative;
    overflow: hidden;

    width: 100%;
    padding: 10px 0;
    
    display: flex;
    flex-wrap: wrap;
}

#intro .text-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    transform: translateX(-100%);
    animation: enlargeBlock .5s .6s both, revealBlock .5s 1.1s both;
}

#intro .text-block .text {
    color: gainsboro;
    font-size: 1.6rem;
    text-align: center;
    
    opacity: 0;

    width: 100%;
    padding: 20px 20px 0;

    animation: fadeInText 0s 1.1s both;
}

#quem-sou-eu {
    text-align: center;
}

#quem-sou-eu .me-img {
    max-width: 60vw;
    border-radius: 200px;
}

#skills .section-content {
    display: flex;
    justify-content: space-between;
}

#skills .section-content img {
    width: 60px;
}

#portfolio .portfolio-images {
    width: 100%;
    margin: 10px auto;
    max-width: 75vw;
    display: flex;
    flex-wrap: wrap;
    
    padding: 20px;
    justify-content: center;

    background-color: var(--secondaryColor);
    border-radius: 20px;
}

#portfolio .portfolio-images img {
    padding: 0 10px;
    max-width: 200px;
}

footer {
    text-align: center;
    padding: 20px;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}