:root {
    --primaryColor: #91ffcf;
    --secondaryColor: #03001c;
    --highlightColor: #080052;
    --highlightColorHover: #001d7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    padding: 10px 30px;
    background-color: var(--secondaryColor);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 50px;
}

header .navbar-desktop{
    display: none;
}

header .navbar-desktop ul {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: var(--highlightColor);
}

header .navbar-desktop ul li a {
    padding: 0 10px;
    color: var(--primaryColor);
}

header .navbar-mobile {
    padding: 10px 15px;
    background-color: var(--highlightColor);
    border-radius: 20px;
    text-align: right;
}

header .navbar-mobile i {
    color: var(--primaryColor);
}

header .menu-mobile {
    color: var(--primaryColor);
}

header .menu-mobile li {
    padding: 5px;
    border-radius: 20px;
}

header .menu-mobile a,
header .menu-mobile a:visited {
    color: var(--primaryColor);
}

header .menu-mobile.disable {
    display: none;
}

header .menu-mobile.enable {
    display: block;
}

section .section-title {
    margin: 10px 0;
    text-align: center;
    font-weight: 900;
    padding: 10px;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

section .section-content {
    padding: 10px;
}

#intro {
    width: 100%;
    margin-top: 72px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    background: url("../assets/bg-img.jpg") center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro .banner {
    width: 100vw;
}

#intro .banner img {
    max-width: 100vw;
}

#intro .text-block {
    position: relative;
    overflow: hidden;

    width: 100%;
    padding: 10px 0;
    
    display: flex;
    flex-wrap: wrap;
}

#intro .text-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    transform: translateX(-100%);
    animation: enlargeBlock .5s .6s both, revealBlock .5s 1.1s both;
}

#intro .text-block .text {
    color: gainsboro;
    font-size: 1.6rem;
    text-align: center;
    
    opacity: 0;

    width: 100%;
    padding: 20px 20px 0;

    animation: fadeInText 0s 1.1s both;
}

#quem-sou-eu {
    text-align: center;
}

#quem-sou-eu .me-img {
    max-width: 60vw;
    border-radius: 200px;

    margin-bottom: 20px;
}

#skills .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#skills .section-content .skill-item {
    width: 100%;
    padding: 20px;
    
    color: gainsboro;
    background-color: var(--highlightColor);
    border-radius: 20px;

    text-align: center;

    transition: all 200ms ease;
}

#skills .section-content .skill-item:hover {
    background-color: var(--highlightColorHover);
    padding: 15px;
    cursor: pointer;
}

#skills .section-content .skill-item img {
    width: 60px;
}

#portfolio .portfolio-content {
    width: 100%;
    margin: 10px auto;
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 30px;
    justify-content: center;

    background-color: var(--secondaryColor);
    border-radius: 20px;
}

#portfolio .portfolio-content .portfolio-card {
    padding: 10px;
    background-color: var(--primaryColor);
    border-radius: 8px;

    text-align: center;

    transform: scale(0.9);
    opacity: 70%;
    transition: all 200ms ease;
}

#portfolio .portfolio-content .portfolio-card:hover {
    transform: scale(1);
    opacity: 100%;
    transition: all 200ms ease;
}

#portfolio .portfolio-content .portfolio-card img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
}

.card-tags .tag {
    width: fit-content;
    padding: 5px 10px;

    color: var(--primaryColor);
    background-color: var(--highlightColorHover);
    border-radius: 20px;

    margin: 10px 5px 0;
}

#contatos .contacts-list {
    padding: 10px;
    color: var(--highlightColor);
    display: flex;
    justify-content: space-between;
}

#contatos .contacts-list li {
    background-color: var(--primaryColor);
    padding: 10px;
    border-radius: 20px;
    
    transform: scale(1);
    transition: all 200ms ease;
}

#contatos .contacts-list li:hover {
    transform: scale(1.5);
    color: var(--highlightColorHover);
}

#contatos .contacts-list li a {
    color: var(--highlightColor);
}

footer {
    text-align: center;
    padding: 20px;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}