
/* Extra-Small (default) */
@media screen and (max-width: 575px) {
    #intro .banner {
        margin-top: 25px;
        max-width: 100vw;
    }
}

/* Small */
@media screen and (min-width: 576px) {
    #intro .banner {
        max-width: 90vw;
        margin: 25px auto 0;
    }
    
    #intro .banner img {
        max-width: 90vw;
    }
}

/* Medium */
@media screen and (min-width: 768px) {
    header .logo {
        max-width: 75px;
    }

    header .navbar-desktop {
        display: block;
    }

    header .navbar-mobile {
        display: none;
    }

    #intro {
        display: flex;
        flex-flow: row wrap;
        padding: 10px 20px 0;
        margin-top: 98px;
    }

    #intro .banner {
        max-width: 40vw;
    }

    #intro .banner img {
        max-width: 40vw;
    }

    #intro .text-block {
        max-width: 40vw;
        padding: 25px 0;
    }

    section .section-content {
        font-size: 1.4rem;
    }

    #quem-sou-eu .section-content {
        display: flex;
        max-width: 90vw;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }

    #quem-sou-eu .section-content .me-img {
        max-width: 30vw;
        margin-right: 20px;
    }
}

/* Large */
@media screen and (min-width: 992px) {
    #intro .text-block {
        align-self: center;
        display: block;
    }

    section .section-content {
        margin: 20px auto;
    }

    #quem-sou-eu .section-content .me-img {
        margin-right: 40px;
    }

    #skills .section-content img {
        width: 60px;
    }
    
}
/* Extra-Large */
@media screen and (min-width: 1200px) {
    
}